# Exclude
node_modules
.git
.env
.next
dist
build
out
*.log
.DS_Store

# Must include (放在最后)
!pnpm-lock.yaml
!pnpm-workspace.yaml
!package.json
!apps/*/package.json
!packages/*/package.json
!apps/api/prisma/
