node_modules
dist
.env
.expo
.next
.pnpm-store/
expo-temp/
expo-temp/*
pnpm-lock.yaml
.turbo/*

# Review bundles
.review_bundles/
apps/mobile/.turbo/turbo-dev.log
apps/api/.turbo/turbo-dev.log
apps/mobile/android/*
apps/mobile/ios/*

apps/admin/.turbo/turbo-build.log
apps/admin/.turbo/turbo-dev.log
apps/api/.turbo/turbo-build.log
apps/web/.turbo/turbo-build.log
apps/web/.turbo/turbo-dev.log
docs/ui-snapshot/policy-form-001.png
docker-volumes/*
apps/api/.turbo/turbo-build.log

.env.production
password.txt
