node_modules
dist
.env
.expo
.next
.pnpm-store/
expo-temp/
expo-temp/*
pnpm-lock.yaml
.turbo/*

# Review bundles
.review_bundles/
apps/mobile/.turbo/turbo-dev.log
apps/api/.turbo/turbo-dev.log
apps/mobile/android/*
apps/mobile/ios/*

apps/admin/.turbo/turbo-build.log
apps/api/.turbo/turbo-build.log
